    ## Nama   : Fatimah Susilawati
    ## Nim    : A12.2020.06432
    ## Klmpok : A12.6501

# Eksperimen dan Pengumpulan Dataset
## Pemanggilan Library 1

In [1]:
import pandas as pd
import time
import tweepy
import numpy as np

In [3]:
def twitter_config():
    """
    Fungsi utilitas untuk mengkonfigurasi konsumsi file API Twitter dengan␣
    ,!kunci yang disediakan.
    """
    # Otentikasi dan akses menggunakan kunci:
    auth = tweepy.OAuthHandler("SbtGvRsiIy1nDmCPVKTgpWMtK", "RA5iiToE8iqHOkPwQLhS1FQsAGGIKtFKwA5YEYnC4oHuXSyUrO")
    auth.set_access_token("1576789174799446016-wD1KiB28mnVdYWaxquJNuvIdfB6JPT", "1Pu9xNobL0NMxiAjCWViJIHlEWrYQM2cD1aGu9urkwYGY")
    # Kembalikan akses ke API:
    api = tweepy.API(auth)
    try:
        api.verify_credentials()
        print("Authentication OK")
    except:
        print("Error during authentication")
    return api

In [4]:
# buat extractor object
extractor = twitter_config()

Authentication OK

# Ambil Tweet dari Username
## Username yang saya gunakan yakni @detikcom

In [5]:
tweets = extractor.user_timeline(screen_name="detikcom", count=1000)
print("Tweets terambil: {}.\n".format(len(tweets)))

print("100 tweet teratas:\n")
for tweet in tweets[:100]:
    print(tweet.text)
    print()

Tweets terambil: 200.

100 tweet teratas:

Artis sekaligus Youtuber Deddy Corbuzier lagi berbunga-bunga. Sebab dua drifter Alpha Rules Drift Team naik podium… https://t.co/64ZCsJSUpd

Top Topan merupakan lagu pop berbahasa Jawa yang mengusung tema cinta, khususnya tentang patah hati. Berikut cerita… https://t.co/gBsZbka9fu

TGIPF merekomendasikan setiap klub sepakbola memiliki stadion pribadi untuk berlaga. Hal ini dikatakan oleh anggota… https://t.co/XoqwEiDvFN

Istri Gubernur Jawa Barat Ridwan Kamil, Atalia Praratya berhasil lulus Program Doktor Ilmu Komunikasi Unpad. Teliti… https://t.co/B8aJnFZleq

Selain dijadikan untuk konten YouTube, rumah kosong di Bandung ternyata jadi sasaran maling. Ratusan barang di loka… https://t.co/7KfUcJ2E9Z

Seorang balita yang menjadi satu-satunya anak yang selamat dalam pembantaian massal di Thailand, tengah tertidur di… https://t.co/GGQtqFxzrk

Chee Hoi Lan, seorang wanita Tionghoa menerima penghargaan Ikon Ibu Sejati-Keluarga Malaysia karena membesarkan ana… https://t.co/y8NmptcUMx

Seorang wanita bernama Brooke Martin jadi viral di TikTok karena penampilannya rahang yang kotak. Dia di-bully miri… https://t.co/5wcBw3qJeV

Mengerikan dan mencekam adalah kalimat yang tepat menggambarkan suasana di pintu 13 Stadion Kanjuruhan usai laga Ar… https://t.co/OWhoSUDPzR

Aniesmengatakan dirinya rutin bertemu dengan tokoh dan pemuka agama di Jakarta jelang jabatannya berakhir. Dia meng… https://t.co/VFkrw0YvQU

Banjir di kawasan Bandung Selatan diklaim telah jauh berkurang. Hal itu berkat beberapa upaya yang dilakukan pemeri… https://t.co/JnW8hVC16V

Suga BTS terbang ke Jepang untuk menghadiri pertandingan basket NBA. Momen pertemuannya dengan pemain Golden State… https://t.co/yu81ZZndGR

Gubernur DKI Jakarta Anies Baswedan meresmikan Gapura Little India di Pasar Baru, Jakarta Pusat. https://t.co/vnbvT96pqB

Anies Baswedan mengatakan DKI Jakarta pasti dilanda banjir jika hadapi cuaca ekstrem. Kendati begitu, Anies mengkla… https://t.co/qqzfHGX7zn

Rumah tangga Lesti Kejora dan Rizky Billar saat ini tengah disorot karena kasus KDRT. Tak hanya itu saja, netizen j… https://t.co/q0dviFeFDP

Calista Felicia Ghaydaqila dinobatkan jadi lulusan termuda dalam Wisuda UB Periode I Tahun 2022. Ia lulus di usia 1… https://t.co/hQRiHGvVCz

Sudah jadi rahasia umum jika Syahrini gemar mengenakan barang bermerek yang harganya fantastis, bahkan sampai milia… https://t.co/dMGjwHpUCN

Ekspresi tak biasa dari ibu mertua saat hadiri pernikahan anaknya viral di media sosial. Ternyata keduanya punya hu… https://t.co/BPzw7FxQwq

Kapolri Jenderal Listyo Sigit Prabowo memutasi ajudan Presiden Jokowi, Kombes Adi Vivid Agustiadi Bachtiar, menjadi… https://t.co/KVi6FDODKG

Koordinator Security Official Arema FC Suko Sutrisno ditetapkan sebagai salah satu tersangka Tragedi Kanjuruhan. Ia… https://t.co/nXLPh0d6ed

UniRank telah merilis daftar perguruan tinggi terbaik di Indonesia. Sebagai salah satu kota pelajar, apa saja pergu… https://t.co/JaJED4ehRt

Rizky Billar menjadi salah satu artis yang terlihat cukup sering memamerkan kehidupan mewahnya di Instagram. Beriku… https://t.co/JQLlaQNbd4

Antara pulau Diomede kecil dan Diomede besar hanya berjarak 3,8 kilometer. Tapi di dua pulau ini terdapat perbedaan… https://t.co/iWinc0iRvl

Jika biasanya tampil dengan wajah penuh riasan di acara-acara televisi, maka saat berada di rumah Ayu tampak lebih… https://t.co/3dRxUNxdP0

Kepala ruangan VIP A Rumah Sakit Umum Daerah (RSUD) Dompu angkat bicara soal pasien yang diduga dipulangkan paksa o… https://t.co/6FkKOykhN0

Pemilik warung 'Bu Ayu' harus mengalami kerugian hingga Rp 11,5 juta. Barang dagangan basah karena banjir dan terpa… https://t.co/tSJ6H8AmSQ

Penyidik KPK memeriksa sejumlah pihak untuk menelusuri kasus suap Rektor Unila, Karomani. Salah satu yang diperiksa… https://t.co/NDFwAYB9rH

Antoine Griezmann resmi dipermanenkan Atletico Madrid dari Barcelona. Ia ditebus dengan harga miring, yakni 20 juta… https://t.co/oF3fzz7gt0

Kapolri Jenderal Listyo Sigit Prabowo memutasi Irjen Nico Afinta dari jabatan Kapolda Jawa Timur. Irjen Nico kini d… https://t.co/Wsa9Q7g6JF

Arbi Leo mengungkapkan terima kasih atas kepercayaan yang diberikan oleh Pemerintah terkhusus atas inisiasi Kemenko… https://t.co/JELQpQR8lV

Carmen Dell'orefice merupakan supermodel tertua yang masih hidup. Di usia yang kini 91 tahun, Carmen menjalani pemo… https://t.co/tYWpeRkAM4

keberhasilan Jokowi dalam membangun Provinsi Papua dan Provinsi Papua Barat itu harus dilanjutkan dan terus ditingk… https://t.co/JP6wvGofaS

Jalan Provinsi Banjarnegara-Dieng via Kecamatan Karangkobar putus akibat tertimbun longsor. Untuk sementara rute ke… https://t.co/znKoMoWPdp

Chicco Jerikho akan beradu akting dengan Kim Sejeong dalam sebuah mini series. Fotonya bersama artis Korea itu rama… https://t.co/U7HlcejmFO

Ellie Nash, wanita asal Melbourne, Australia hidup dengan payudara yang terus bertumbuh. Dia mengaku begitu menderi… https://t.co/n4LIZrcjzR

Maxime Bouttier berhasil membanggakan Indonesia dengan tampil dalam film Hollywood 'Ticket to Paradise'. Seperti ap… https://t.co/wJYFDwsgoh

Kebakaran salah satu sepeda motor sempat terjadi di salah satu SPBU kawasan Desa Leuwimalang, Cisarua, Kabupaten Bo… https://t.co/8GJHgcaESa

KPK akan melakukan lelang sejumlah barang rampasan milik terpidana kasus korupsi, termasuk paketan mobil mewah. KPK… https://t.co/okaoFxiMjh

Ketua KONI Kampar, Surya Darmawan menyerahkan diri ke Kejaksaan Tinggi Riau. Dia menyerahkan diri setelah menjadi b… https://t.co/KxUCsBT5Jj

Sebagai pengganti baju ulang tahun, Gwyneth Paltrow mewarnai setengah bagian tubuhnya dengan cat emas. Ini dia potr… https://t.co/BLartnC7rW

Kadiv Humas Polri Irjen Dedi Prasetyo mengakui, ada penggunaan gas air mata kedaluwarsa dalam Tragedi Kanjuruhan. J… https://t.co/qA7SjNRnPk

Banyak mahasiswa yang mengincar beasiswa LPDP. Sebelum pendaftarannya dibuka, kamu bisa siapkan berbagai dokumen ya… https://t.co/u46Pxbldqf

Politikus NasDem Zulfan Lindan menilai usulan relawan soal reshuffle kabinet tak perlu didengar. Dia meyakini Jokow… https://t.co/x103Up8a8Y

Erma Hermina melaporkan 10 orang Youtuber ke Polda Jabar karena memakai rumah peninggalan ibunya tanpa izin untuk d… https://t.co/5cnu4fzNd0

Gubernur DKI Jakarta Anies Baswedan meresmikan Masjid At Tabayyun di Taman Villa Meruya, Jakbar. Proses pembangunan… https://t.co/zCgfNL0Nmc

Denise Chariesta dipolisikan oleh Farhat Abbas gegara menyebut 'Partai Bodoh'. Farhat Abbas selaku Ketum Partai Pan… https://t.co/lmQHFwLnqJ

Sebanyak 10 YouTuber dilaporkan ke polisi karena menggunakan rumah kosong untuk konten horor di Kota Bandung. Merek… https://t.co/CTy6wULPYs

Rusia meluncurkan serangan rudal jarak jauh dengan menarget ibu kota Kiev pada Senin (10/10) pagi. Serangan di jant… https://t.co/NQUl99BplR

#FOTO Viral unggahan seorang pria yang dulu taruna gagah, kini memutuskan menjadi seorang 'taruni' alias wanita. In… https://t.co/wUnEoEf7xI

Kim Kardashian mendapat sorakan dari penonton saat muncul di pertandingan football di Los Angeles. Intip gaya Kim n… https://t.co/l4liI6RMQb

Bella Hadid menutup fashion show Coperni di Paris Fashion Week. Tampil topless, Bella disemprot cat 'ajaib' yang me… https://t.co/poR7Umyr4m

Polisi menduga pelaku pembunuhan PNS Bapenda Kota Semarang, Paulus Iwan, yang tewas sebelum menjadi saksi kasus kor… https://t.co/fHGwFnKAMw

Sebuah senderan dan palingih piasan di Pura Dadia Penataran Pande Ambal Ambal, Desa Muncan, Kecamatan Selat, Kabupa… https://t.co/DoMu17Z905

Apakah Anda pernah mengalami squirt saat bercinta? Mari membahas apa itu squirting dan tips mencapainya.… https://t.co/bXqZrqx3vB

Bella Hadid jadi sorotan saat catwalk untuk Stella McCartney di Paris Fashion Week. Dia pakai jumpsuit jaring mener… https://t.co/sYMrKqKpLH

Untuk berkomunikasi biasanya anak muda di zaman sekarang menggunakan bahasa gaul, termasuk kode-kode angka, seperti… https://t.co/CCZBn7qmp6

Berada di ketinggian 4.693 Mdpl, mesin ATM yang ada di perbatasan Pakistan-China ini dinobatkan menjadi mesin ATM t… https://t.co/Ce1YOGnRMY

Tim Gabungan Independen Pencari Fakta (TGIPF) tragedi Kanjuruhan menyebut pintu keluar Stadion Kanjuruhan, Malang,… https://t.co/13xTr7HxDO

Gempa berkekuatan magnitudo (M) 4,4 terjadi di Kabupaten Aceh Barat Daya. Tak ada potensi tsunami akibat gempa ini. https://t.co/khLlqEKdtW

Misteri bakul dawet di Stadion Kanjuruhan masih berlanjut. Ternyata, Komnas HAM juga ikut mencari keberadaan penjua… https://t.co/YiRNSkQz8C

Atlet bulutangkis PBSI menggelar doa bersama untuk korban tragedi Kanjuruhan. Mereka panjatkan doa di depan Monumen… https://t.co/EXQRbtQcDK

Cardi B pakai dress yang bikin orang bingung dan jadi kontroversi. Dia mengenakan gaun hitam yang bagian belakangny… https://t.co/H3SxN82gQQ

Meraih gelar profesor tentu memerlukan durasi yang panjang. Namun beberapa orang ini berhasil meraih gelar tersebut… https://t.co/hQdma0Pcjn

Kepala BPBD DKI Jakarta Isnawa Adji mengatakan seluruh banjir di Jakarta sudah surut. Dia juga mengatakan warga tel… https://t.co/KeqCwBY4uG

Upaya I Made Agus Permana Dwiputra (21) bersama teman sekelasnya, I Gede Gunem Kusuma Wijaya (21) untuk mewujudkan… https://t.co/Kop9gl8WOm

Hujan deras di pesisir selatan Tulungagung memicu banjir bandang di wisata Pantai Gemah, Tulungagung. Sejumlah fasi… https://t.co/sseIKxCPWv

Gubernur Papua Lukas Enembe diangkat menjadi Kepala Suku Adat Besar karena pengabdiannya selama ini. Lukas diangkat… https://t.co/7uumno6YAf

RT @detikfinance: Presiden Jokowi menunjuk Heru Budi Hartono menjadi Penjabat (Pj) Gubernur DKI Jakarta. Berdasarkan LHKPN, Heru Budi Harto…

Heru Budi Hartono menjadi Pj Gubernur DKI menggantikan Anies Baswedan. Presiden Jokowi telah memerintahkan Heru unt… https://t.co/X3EgFM5WQs

Pengusutan kasus Tragedi Kanjuruhan mengungkap adanya temuan tentang informasi gas air mata kedaluwarsa. Berikut 4… https://t.co/2JpIwbDlYm

Warga Kota Bandung Erma Hermina melaporkan 10 Youtuber ke Polda Jabar karena menggunakan rumah peninggalan ibunya t… https://t.co/Pu57YNGiaA

Atta Halilintar selalu memperhatikan apa saja yang dipakai anak kesayangannya, Ameena. Ini alasan Atta nggak suka a… https://t.co/bqdoWx73B5

Raffi Atha Dziaulhamdi (14) korban selamat ternyata belum tersentuh bantuan pemeritnah. Hal ini diungkapkan keluarg… https://t.co/OPiCzVSCcs

Ada petisi kelakar Erling Haaland bukanlah manusia tapi seorang robot. Mesin gol 'si robot Haaland' ini pun baru me… https://t.co/KptLkpcqSZ

Baim Wong dan Paula akan diperiksa kembali Kamis (13/10). Pemeriksaan dilakukan terkait laporan UU ITE terhadap ked… https://t.co/RExJXvGK5r

Tim gabungan Polda Aceh berhasil menggagalkan upaya penyelundupan 179 kg sabu dari Malaysia melalui Peureulak, Aceh… https://t.co/T6oHgXz5nI

Hari ini, ada sederet bencana yang terjadi di Jawa Timur. BMKG Juanda memberi peringatan cuaca ekstrem dalam sepeka… https://t.co/mnIcS8wLyd

Berlibur di Ubud, traveler bakal disuguhi pemandangan pedesaan dan persawahan yang syahdu. Bila beruntung, traveler… https://t.co/leGtvmRoV3

Ayo dukung streamer favorite kamu dengan melakukan vote pada laman https://t.co/dCfIv6MGvJ , ikuti terus keseruanny… https://t.co/4NJoGvKeuI

Sidang perdana terdakwa Bharada Eliezer dalam kasus pembunuhan berencana Brigadir Nopriasyah Yosua Hutabarat akan d… https://t.co/MaAdjR2ktG

Seorang pria, Jaki (19), hilang terseret arus saat mengambil topi yang terjatuh ke sungai di Cilegon. Jaki ditemuka… https://t.co/NeldBJ9DsP

Wabup Indramayu Lucky Hakim sebut dirinya siap dipecat dari jabatannya jika terbukti melakukan kesalahan. Baca sele… https://t.co/UVfgd3LJF1

BMKG Klas I Juanda mengimbau waspada potensi cuaca ekstrem. Wilayah Jatim sepekan ini berpotensi genangan, banjir b… https://t.co/BPfRKqpsA1

Viral! Tak ada jembatan, rombongan pengantin menaiki rakit menembus derasnya sungai di Sukabumi.

Via @detik_jabar https://t.co/L2OpnXIiQV

Anggota Dewan Pertimbangan Presiden sekaligus Senior PDIP, Sidarto Danusubroto mengungkap kriteria capres partainya… https://t.co/0mK9ZxwzOk

Warga bernama Agung mengatakan peristiwa itu terjadi pada Senin (10/10/2022) sekitar pukul 08.00 WIB. https://t.co/JO2TG5ZeQW

Wali Kota Mataram Mohan Roliskana menanggapi tiga pejabat Dinas Perdagangan (Disdag) Kota Mataram yang terseret kas… https://t.co/YjxdeTcCfE

Istri dan anak Lukas Enembe menolak menghadiri panggilan KPK sebagai saksi dugaan suap dan gratifikasi. Ini karena… https://t.co/qaIb5TfRv0

Novita Kurnia Putri, tewas usai rumahnya di San Antonio, Texas, Amerika Serikat, diberondong ratusan tembakan. Beri… https://t.co/6fDMwgtCCs

Relawan Arus Bawah Jokowi (ABJ) menyinggung parpol di koalisi pemerintah yang berbelok arah. Partai NasDem berkomit… https://t.co/M3IaUzyrY4

Tersangka korupsi Lukas Enembe dikukuhkan menjadi kepala suku besar Papua. Pengukuhan dilakukan di kediaman pribadi… https://t.co/6GTDHVCMKb

Dwayne Johnson mendulang dukungan lebih dari 50 persen warga Amerika dalam polling capres. Namun ia menolaknya deng… https://t.co/vGEC7359yB

Ujian bagi The Reds belum berhenti sampai di sini. Akhir pekan ini, Liverpool bakal diuji oleh Man CIty yang bakal… https://t.co/YO1epF1Rbj

Petugas Damkar sektor Jatinegara mengevakuasi seorang bayi saat banjir melanda kawasan Bidara Cina, Jakarta Timur.… https://t.co/tRZzi8rZNf

Sosok Pangeran Aria Suria Atmadja dikenang dalam bentuk Monumen Lingga yang kini menjadi lambang Kabupaten Sumedang… https://t.co/CsK6sULGUT

Sebelum dipentaskan di TIM akhir pekan lalu, panggung opera Majapahit: Gayatri terlebih dahulu memukau di Edinburgh… https://t.co/XzF9kJdJm6

Komisi Nasional Hak Asasi Manusia mendapatkan temuan adanya gas air mata kedaluwarsa yang ditembakan saat tragedi K… https://t.co/pnajGSSA2Q

Peristiwa itu diketahui terjadi pada Sabtu (8/10), sekitar pukul 16.19 WIB. Polisi masih menyelidikinya. https://t.co/rl9CoESN05

Zelensky menuduh Rusia ingin membinasakan dan menghapus Ukraina dari muka bumi setelah rentetan serangan rudal meng… https://t.co/lRg5n1BbaM

Polri telah menetapkan enam tersangka terkait Tragedi Kanjuruhan. Keenamnya dijadwalkan akan diperiksa besok di Pol… https://t.co/MiF8IfyPhG

## Memasukkan ke dataframe pandas

In [6]:
# Membuat kerangka data menggunakan sintaks berikut
dataset = pd.DataFrame(data = [tweet.text for tweet in tweets], columns = ['Tweets'])

# Tampilan kerangka data
display(dataset.head(100))

                                               Tweets
0   Artis sekaligus Youtuber Deddy Corbuzier lagi ...
1   Top Topan merupakan lagu pop berbahasa Jawa ya...
2   TGIPF merekomendasikan setiap klub sepakbola m...
3   Istri Gubernur Jawa Barat Ridwan Kamil, Atalia...
4   Selain dijadikan untuk konten YouTube, rumah k...
..                                                ...
95  Sebelum dipentaskan di TIM akhir pekan lalu, p...
96  Komisi Nasional Hak Asasi Manusia mendapatkan ...
97  Peristiwa itu diketahui terjadi pada Sabtu (8/...
98  Zelensky menuduh Rusia ingin membinasakan dan ...
99  Polri telah menetapkan enam tersangka terkait ...

[100 rows x 1 columns]

In [7]:
dataset.to_csv('dataset_detikcom.csv')

## Cleaning Word
## Import Library untuk Cleaning Word

In [8]:
import pandas as pd
import re
import string
import time
from copy import deepcopy

## Load Dataset

In [10]:
df = pd.read_csv('dataset_detikcom.csv')

df.head(10)

   Unnamed: 0                                             Tweets
0           0  Artis sekaligus Youtuber Deddy Corbuzier lagi ...
1           1  Top Topan merupakan lagu pop berbahasa Jawa ya...
2           2  TGIPF merekomendasikan setiap klub sepakbola m...
3           3  Istri Gubernur Jawa Barat Ridwan Kamil, Atalia...
4           4  Selain dijadikan untuk konten YouTube, rumah k...
5           5  Seorang balita yang menjadi satu-satunya anak ...
6           6  Chee Hoi Lan, seorang wanita Tionghoa menerima...
7           7  Seorang wanita bernama Brooke Martin jadi vira...
8           8  Mengerikan dan mencekam adalah kalimat yang te...
9           9  Aniesmengatakan dirinya rutin bertemu dengan t...

In [11]:
df

     Unnamed: 0                                             Tweets
0             0  Artis sekaligus Youtuber Deddy Corbuzier lagi ...
1             1  Top Topan merupakan lagu pop berbahasa Jawa ya...
2             2  TGIPF merekomendasikan setiap klub sepakbola m...
3             3  Istri Gubernur Jawa Barat Ridwan Kamil, Atalia...
4             4  Selain dijadikan untuk konten YouTube, rumah k...
..          ...                                                ...
195         195  Performa gila Erling Haaland bersama Mancheste...
196         196  Seorang wanita 25 tahun, Becca Butcher menceri...
197         197  Serangan rudal menghantam banyak kota di Ukrai...
198         198  #Foto Separator atau median jalan di Jalan Mar...
199         199  Sejak kenaikan harga menjadi Rp 10.000 per lit...

[200 rows x 2 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   Tweets      200 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.2+ KB

## Preprocessing Dataset
#### Yang yang harus dilakukan yaitu instalasi modul ekhprasis

In [13]:
!pip install ekphrasis

Collecting ekphrasis
  Downloading ekphrasis-0.5.4-py3-none-any.whl (83 kB)
Requirement already satisfied: nltk in c:\users\asus\anaconda3\lib\site-packages (from ekphrasis) (3.7)
Requirement already satisfied: matplotlib in c:\users\asus\anaconda3\lib\site-packages (from ekphrasis) (3.5.1)
Requirement already satisfied: ujson in c:\users\asus\anaconda3\lib\site-packages (from ekphrasis) (5.1.0)
Requirement already satisfied: numpy in c:\users\asus\anaconda3\lib\site-packages (from ekphrasis) (1.21.5)
Requirement already satisfied: colorama in c:\users\asus\anaconda3\lib\site-packages (from ekphrasis) (0.4.4)
Requirement already satisfied: tqdm in c:\users\asus\anaconda3\lib\site-packages (from ekphrasis) (4.64.0)
Collecting termcolor
  Downloading termcolor-2.0.1-py3-none-any.whl (5.4 kB)
Collecting ftfy
  Downloading ftfy-6.1.1-py3-none-any.whl (53 kB)
Requirement already satisfied: wcwidth>=0.2.5 in c:\users\asus\anaconda3\lib\site-packages (from ftfy->ekphrasis) (0.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->ekphrasis) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->ekphrasis) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->ekphrasis) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->ekphrasis) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->ekphrasis) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->ekphrasis) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->ekphrasis) (1.3.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->ekphrasis) (1.16.0)
Requirement already satisfied: joblib in c:\users\asus\anaconda3\lib\site-packages (from nltk->ekphrasis) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\asus\anaconda3\lib\site-packages (from nltk->ekphrasis) (2022.3.15)
Requirement already satisfied: click in c:\users\asus\anaconda3\lib\site-packages (from nltk->ekphrasis) (8.0.4)
Installing collected packages: termcolor, ftfy, ekphrasis
Successfully installed ekphrasis-0.5.4 ftfy-6.1.1 termcolor-2.0.1

In [14]:
from ekphrasis.classes.preprocessor import TextPreProcessor
from ekphrasis.classes.tokenizer import SocialTokenizer
from ekphrasis.dicts.emoticons import emoticons

text_processor = TextPreProcessor(
    # terms that will be normalized
    normalize=['email', 'percent', 'money', 'phone', 'user',
        'time', 'date', 'number'],
    # terms that will be annotated
    #annotate={"hashtag", "allcaps", "elongated", "repeated",'emphasis', 'censored'},
    annotate={"hashtag"},
    fix_html=True,  # fix HTML tokens
    
    # corpus from which the word statistics are going to be used 
    # for word segmentation 
    segmenter="twitter", 
    
    # corpus from which the word statistics are going to be used 
    # for spell correction
    corrector="twitter", 
    
    unpack_hashtags=True,  # perform word segmentation on hashtags
    unpack_contractions=True,  # Unpack contractions (can't -> can not)
    spell_correct_elong=False,  # spell correction for elongated words
    
    # select a tokenizer. You can use SocialTokenizer, or pass your own
    # the tokenizer, should take as input a string and return a list of tokens
    tokenizer=SocialTokenizer(lowercase=True).tokenize,
    
    # list of dictionaries, for replacing tokens extracted from the text,
    # with other expressions. You can pass more than one dictionaries.
    dicts=[emoticons]
)

C:\Users\ASUS\anaconda3\lib\site-packages\ekphrasis\classes\tokenizer.py:225: FutureWarning: Possible nested set at position 2190
  self.tok = re.compile(r"({})".format("|".join(pipeline)))

Word statistics files not found!
Downloading... done!
Unpacking... done!
Reading twitter - 1grams ...
generating cache file for faster loading...
reading ngrams C:\Users\ASUS\.ekphrasis\stats\twitter\counts_1grams.txt
Reading twitter - 2grams ...
generating cache file for faster loading...
reading ngrams C:\Users\ASUS\.ekphrasis\stats\twitter\counts_2grams.txt

C:\Users\ASUS\anaconda3\lib\site-packages\ekphrasis\classes\exmanager.py:14: FutureWarning: Possible nested set at position 42
  regexes = {k.lower(): re.compile(self.expressions[k]) for k, v in

Reading twitter - 1grams ...

In [15]:
# panggil ekphrasis

def bersih_data(text):
    return " ".join(text_processor.pre_process_doc(text))

In [16]:
# fungsi dari AMS 01-03. silakan cek bagaimana saya merubah menjadi fungsi

def non_ascii(text):
    return text.encode('ascii', 'replace').decode('ascii')

def remove_space(text):
    return " ".join(text.split())

def remove_emoji(text):
    return ' '.join(re.sub("([x#][A-Za-z0-9]+)"," ", text).split())

def remove_tab(text):
    return text.replace('\\t'," ").replace('\\n'," ").replace('\\u'," ").replace('\\',"")

def remove_tab2(text):
    return re.sub('\s+',' ',text)

def remove_rt(text):
    return text.replace('RT'," ")

def remove_mention(text):
    return ' '.join(re.sub("([@#][A-Za-z0-9]+)|(\w+:\/\/\S+)"," ", text).split())

def remove_incomplete_url(text):
    return text.replace("http://", " ").replace("https://", " ")

def remove_single_char(text):
    return re.sub(r"\b[a-zA-Z]\b", "", text)

def remove_excessive_dot(text):
    return text.replace('..'," ")

def change_stripe(text):
    return text.replace('-'," ")

def lower(text):
    return text.lower()

def remove_single_char(text):
    return re.sub(r"\b[a-zA-Z]\b", "", text)

def remove_excessive_dot(text):
    return text.replace('..'," ")

def lower(text):
    return text.lower()

def remove_whitespace_LT(text):
    return text.strip()

def remove_whitespace_multiple(text):
    return re.sub('\s+',' ',text)

def remove_punctuation(text):
    remove = string.punctuation
    remove = remove.replace("_", "") # don't remove hyphens
    pattern = r"[{}]".format(remove) # create the pattern
    return re.sub(pattern, "", text)

In [17]:
# hapus untuk <>
def remove_number_eks(text):
    return text.replace('<number>'," ")

def remove_angka(text):
    return re.sub(r"\d+", "", text) 

def remove_URL_eks(text):
    return text.replace('URL'," ").replace('url'," ")

def space_punctuation(text):
    return re.sub('(?<! )(?=[.,!?()])|(?<=[.,!?()])(?! )', r' ', text)

## Mulai proses pembersihan

In [18]:
i = 0
final_string = []
s = ""
for text in df['Tweets'].values:
    filteredSentence = []
    EachReviewText = ""
    proc = remove_rt(text)
    proc = lower(proc)
    proc = change_stripe(proc)
    proc = remove_emoji(proc)
    proc = remove_tab(proc)
    proc = remove_tab2(proc)
    proc = non_ascii(proc)
    proc = remove_incomplete_url(proc)
    proc = remove_excessive_dot(proc)
    proc = remove_whitespace_LT(proc)
    proc = remove_whitespace_multiple(proc)
    proc = remove_single_char(proc)
    proc = space_punctuation(proc)
    proc = remove_punctuation(proc)
    proc = remove_space(proc)
    proc = bersih_data(proc)
    proc = remove_number_eks(proc)
    proc = remove_angka(proc) 
    proc = remove_URL_eks(proc)
    EachReviewText = proc
    final_string.append(EachReviewText)

In [19]:
df["step01"] = final_string

In [20]:
df.head(10)

,Unnamed: 0,Tweets,step01
0,0,Artis sekaligus Youtuber Deddy Corbuzier lagi ...,artis sekaligus youtuber deddy corbuzier lagi ...
1,1,Top Topan merupakan lagu pop berbahasa Jawa ya...,top topan merupakan lagu pop berbahasa jawa ya...
2,2,TGIPF merekomendasikan setiap klub sepakbola m...,tgipf merekomendasikan setiap klub sepakbola m...
3,3,"Istri Gubernur Jawa Barat Ridwan Kamil, Atalia...",istri gubernur jawa barat ridwan kamil atalia ...
4,4,"Selain dijadikan untuk konten YouTube, rumah k...",selain dijadikan untuk konten youtube rumah ko...
5,5,Seorang balita yang menjadi satu-satunya anak ...,seorang balita yang menjadi satu satunya anak ...
6,6,"Chee Hoi Lan, seorang wanita Tionghoa menerima...",chee hoi lan seorang wanita tionghoa menerima ...
7,7,Seorang wanita bernama Brooke Martin jadi vira...,seorang wanita bernama brooke martin jadi vira...
8,8,Mengerikan dan mencekam adalah kalimat yang te...,mengerikan dan mencekam adalah kalimat yang te...
9,9,Aniesmengatakan dirinya rutin bertemu dengan t...,aniesmengatakan dirinya rutin bertemu dengan t...

## Hapus data kosong

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   Tweets      200 non-null    object
 2   step01      200 non-null    object
dtypes: int64(1), object(2)
memory usage: 4.8+ KB

In [22]:
df_hapus = df[~df['step01'].str.contains(" ")]

In [23]:
df_hapus.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      int64
 1   Tweets      0 non-null      object
 2   step01      0 non-null      object
dtypes: int64(1), object(2)
memory usage: 0.0+ bytes

In [24]:
df_hapus.head(10)

Empty DataFrame
Columns: [Unnamed: 0, Tweets, step01]
Index: []

In [25]:
df_new = df[~df.isin(df_hapus)].dropna()

In [26]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   Tweets      200 non-null    object
 2   step01      200 non-null    object
dtypes: int64(1), object(2)
memory usage: 4.8+ KB

In [27]:
df_new

,Unnamed: 0,Tweets,step01
0,0,Artis sekaligus Youtuber Deddy Corbuzier lagi ...,artis sekaligus youtuber deddy corbuzier lagi ...
1,1,Top Topan merupakan lagu pop berbahasa Jawa ya...,top topan merupakan lagu pop berbahasa jawa ya...
2,2,TGIPF merekomendasikan setiap klub sepakbola m...,tgipf merekomendasikan setiap klub sepakbola m...
3,3,"Istri Gubernur Jawa Barat Ridwan Kamil, Atalia...",istri gubernur jawa barat ridwan kamil atalia ...
4,4,"Selain dijadikan untuk konten YouTube, rumah k...",selain dijadikan untuk konten youtube rumah ko...
...,...,...,...
195,195,Performa gila Erling Haaland bersama Mancheste...,performa gila erling haaland bersama mancheste...
196,196,"Seorang wanita 25 tahun, Becca Butcher menceri...",seorang wanita tahun becca butcher mencerita...
197,197,Serangan rudal menghantam banyak kota di Ukrai...,serangan rudal menghantam banyak kota di ukrai...
198,198,#Foto Separator atau median jalan di Jalan Mar...,separator atau median jalan di jalan margonda ...
199,199,Sejak kenaikan harga menjadi Rp 10.000 per lit...,sejak kenaikan harga menjadi rp per liter ...

## Normalisasi kata slang menjadi baku

In [28]:
# token
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

In [29]:
def word_tokenize_wrapper(text):
  return word_tokenize(text)

In [30]:
df_new['tokens'] = df["step01"].apply(word_tokenize_wrapper)

In [31]:
df_new.head(10)

,Unnamed: 0,Tweets,step01,tokens
0,0,Artis sekaligus Youtuber Deddy Corbuzier lagi ...,artis sekaligus youtuber deddy corbuzier lagi ...,"[artis, sekaligus, youtuber, deddy, corbuzier,..."
1,1,Top Topan merupakan lagu pop berbahasa Jawa ya...,top topan merupakan lagu pop berbahasa jawa ya...,"[top, topan, merupakan, lagu, pop, berbahasa, ..."
2,2,TGIPF merekomendasikan setiap klub sepakbola m...,tgipf merekomendasikan setiap klub sepakbola m...,"[tgipf, merekomendasikan, setiap, klub, sepakb..."
3,3,"Istri Gubernur Jawa Barat Ridwan Kamil, Atalia...",istri gubernur jawa barat ridwan kamil atalia ...,"[istri, gubernur, jawa, barat, ridwan, kamil, ..."
4,4,"Selain dijadikan untuk konten YouTube, rumah k...",selain dijadikan untuk konten youtube rumah ko...,"[selain, dijadikan, untuk, konten, youtube, ru..."
5,5,Seorang balita yang menjadi satu-satunya anak ...,seorang balita yang menjadi satu satunya anak ...,"[seorang, balita, yang, menjadi, satu, satunya..."
6,6,"Chee Hoi Lan, seorang wanita Tionghoa menerima...",chee hoi lan seorang wanita tionghoa menerima ...,"[chee, hoi, lan, seorang, wanita, tionghoa, me..."
7,7,Seorang wanita bernama Brooke Martin jadi vira...,seorang wanita bernama brooke martin jadi vira...,"[seorang, wanita, bernama, brooke, martin, jad..."
8,8,Mengerikan dan mencekam adalah kalimat yang te...,mengerikan dan mencekam adalah kalimat yang te...,"[mengerikan, dan, mencekam, adalah, kalimat, y..."
9,9,Aniesmengatakan dirinya rutin bertemu dengan t...,aniesmengatakan dirinya rutin bertemu dengan t...,"[aniesmengatakan, dirinya, rutin, bertemu, den..."

In [33]:
normalized_word = pd.read_csv('kamus_clean.csv')

In [34]:
normalized_word_dict = {}

for index, row in normalized_word.iterrows():
    if row[0] not in normalized_word_dict:
        normalized_word_dict[row[0]] = row[1] 

def normalized_term(document):
    return [normalized_word_dict[term] if term in normalized_word_dict else term for term in document]

In [35]:
df_new['final_tokens'] = df_new['tokens'].apply(normalized_term)

In [36]:
i=0
final_string_tokens = []
for text in df_new['final_tokens'].values:
    EachReviewText = ""
    EachReviewText = ' '.join(text)
    final_string_tokens.append(EachReviewText)

In [37]:
df_new["step02"] = final_string_tokens

In [38]:
df_new.head(10)

,Unnamed: 0,Tweets,step01,tokens,final_tokens,step02
0,0,Artis sekaligus Youtuber Deddy Corbuzier lagi ...,artis sekaligus youtuber deddy corbuzier lagi ...,"[artis, sekaligus, youtuber, deddy, corbuzier,...","[artis, sekaligus, youtuber, deddy, corbuzier,...",artis sekaligus youtuber deddy corbuzier lagi ...
1,1,Top Topan merupakan lagu pop berbahasa Jawa ya...,top topan merupakan lagu pop berbahasa jawa ya...,"[top, topan, merupakan, lagu, pop, berbahasa, ...","[top, topan, merupakan, lagu, pop, berbahasa, ...",top topan merupakan lagu pop berbahasa jawa ya...
2,2,TGIPF merekomendasikan setiap klub sepakbola m...,tgipf merekomendasikan setiap klub sepakbola m...,"[tgipf, merekomendasikan, setiap, klub, sepakb...","[tgipf, merekomendasikan, setiap, klub, sepakb...",tgipf merekomendasikan setiap klub sepakbola m...
3,3,"Istri Gubernur Jawa Barat Ridwan Kamil, Atalia...",istri gubernur jawa barat ridwan kamil atalia ...,"[istri, gubernur, jawa, barat, ridwan, kamil, ...","[istri, gubernur, jawa, barat, ridwan, kamil, ...",istri gubernur jawa barat ridwan kamil atalia ...
4,4,"Selain dijadikan untuk konten YouTube, rumah k...",selain dijadikan untuk konten youtube rumah ko...,"[selain, dijadikan, untuk, konten, youtube, ru...","[selain, dijadikan, untuk, konten, youtube, ru...",selain dijadikan untuk konten youtube rumah ko...
5,5,Seorang balita yang menjadi satu-satunya anak ...,seorang balita yang menjadi satu satunya anak ...,"[seorang, balita, yang, menjadi, satu, satunya...","[seorang, balita, yang, menjadi, satu, satunya...",seorang balita yang menjadi satu satunya anak ...
6,6,"Chee Hoi Lan, seorang wanita Tionghoa menerima...",chee hoi lan seorang wanita tionghoa menerima ...,"[chee, hoi, lan, seorang, wanita, tionghoa, me...","[chee, hoi, lan, seorang, wanita, tionghoa, me...",chee hoi lan seorang wanita tionghoa menerima ...
7,7,Seorang wanita bernama Brooke Martin jadi vira...,seorang wanita bernama brooke martin jadi vira...,"[seorang, wanita, bernama, brooke, martin, jad...","[seorang, wanita, bernama, brooke, martin, jad...",seorang wanita bernama brooke martin jadi vira...
8,8,Mengerikan dan mencekam adalah kalimat yang te...,mengerikan dan mencekam adalah kalimat yang te...,"[mengerikan, dan, mencekam, adalah, kalimat, y...","[mengerikan, dan, mencekam, adalah, kalimat, y...",mengerikan dan mencekam adalah kalimat yang te...
9,9,Aniesmengatakan dirinya rutin bertemu dengan t...,aniesmengatakan dirinya rutin bertemu dengan t...,"[aniesmengatakan, dirinya, rutin, bertemu, den...","[aniesmengatakan, dirinya, rutin, bertemu, den...",aniesmengatakan dirinya rutin bertemu dengan t...

## Simpan Clean Dataset

In [39]:
df_new.to_csv('clean_dataset_detikcom')